name: Guestbook

on:
  issue_comment:
    types: [created, edited, deleted]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_guestbook:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.issue.title == 'Guestbook' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Update guestbook from comments
        uses: actions/github-script@v6
        with:
          script: |
            const truncateString = (str, num) => str.length > num ? str.slice(0, num) + "..." : str;

            const query = `query($owner:String!, $name:String!, $issue_number:Int!) {
              repository(owner:$owner, name:$name){
                issue(number:$issue_number) {
                  comments(first:5,orderBy:{direction:DESC, field:UPDATED_AT}) {
                    nodes {
                      author {
                        avatarUrl(size: 24)
                        login
                        url
                      }
                      bodyText
                      updatedAt
                    }
                  }
                }
              }
            }`;

            const variables = {
              owner: context.repo.owner,
              name: context.repo.repo,
              issue_number: context.issue.number
            };

            const result = await github.graphql(query, variables);

            const renderComments = (comments) => {
              return comments.reduce((prev, curr) => {
                let text = curr.bodyText
                  .replace(/(\r\n|\r|\n)/g, "<br />")
                  .replace(/\|/g, '&#124;');

                text = truncateString(text, 125);

                return `${prev}| <a href="${curr.author.url}"><img width="24" src="${curr.author.avatarUrl}" /> ${curr.author.login}</a> |${new Date(curr.updatedAt).toLocaleString()}|${text}|\n`;
              }, "| Name | Date | Message |\n|---|---|---|\n");
            };

            const fs = require('fs');
            const readme = fs.readFileSync('README.md', 'utf8');

            const updated = readme.replace(
              /(?<=<!-- Guestbook -->.*\n)[\S\s]*?(?=<!-- \/Guestbook -->|$(?![\n]))/gm,
              renderComments(result.repository.issue.comments.nodes)
            );

            fs.writeFileSync('README.md', updated, 'utf8');

      - name: Push guestbook update
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -am ':sparkles: update guestbook' || echo "No changes"
          git push
